:root {
  --el-color-primary: #409eff;
  --el-table-font-color: black;
  --el-table-header-font-color: black;
}

.el-table {
  .cell {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.el-table--border {
  .el-table__cell:first-child {
    .cell {
      padding-left: 2px;
    }
  }
}

.el-table--small .el-table__cell {
  padding: 2px;
}
