/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--color-primary: #409eff;

/* icon font path, required */
$--font-path: './element-plus/lib/theme-chalk/fonts';

@import "/node_modules/element-plus/packages/theme-chalk/src/index";

:root {
  --el-table-font-color: black;
  --el-table-header-font-color: black;
}

.el-table {
  .cell {
    padding-left: 0;
    padding-right: 0;
  }
}

.el-table--border {
  .el-table__cell:first-child {
    .cell {
      padding-left: 0;
    }
  }
}

.el-table--small .el-table__cell {
  padding: 2px;
}
